/* line 4, app/assets/stylesheets/home.scss */
#main {
  height: 100vh;
  background-color: bisque;
  overflow: auto;
}

/* line 9, app/assets/stylesheets/home.scss */
#main h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 15, app/assets/stylesheets/home.scss */
#main > div#chat_body {
  height: 90vh;
  background-color: black;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  overflow: auto;
  position: relative;
}

/* line 24, app/assets/stylesheets/home.scss */
#main > div#chat_body div#messages {
  height: 90%;
  width: 95%;
  color: white;
  margin: 14px auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* line 33, app/assets/stylesheets/home.scss */
#main > div#chat_body div#messages p {
  display: inline-block;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 70%;
  width: max-content;
}

/* line 43, app/assets/stylesheets/home.scss */
#main > div#chat_body div#messages p.received {
  background-color: chocolate;
  border-bottom-right-radius: 10px;
}

/* line 48, app/assets/stylesheets/home.scss */
#main > div#chat_body div#messages p.sent {
  border-bottom-left-radius: 10px;
  background-color: darkred;
  align-self: flex-end;
}

/* line 54, app/assets/stylesheets/home.scss */
#main > div#chat_body div#messages p.announce {
  align-self: center;
  font-style: italic;
  color: cyan;
}

/* line 59, app/assets/stylesheets/home.scss */
#main > div#chat_body div#messages p.announce em {
  font-weight: 700;
  color: mediumorchid;
}

/* line 67, app/assets/stylesheets/home.scss */
#main > div#chat_body form#send_message {
  width: 95%;
  margin: auto;
}

/* line 71, app/assets/stylesheets/home.scss */
#main > div#chat_body form#send_message input {
  height: 30px;
  width: 90%;
  border-radius: 10px;
  border: 0;
}

/* line 78, app/assets/stylesheets/home.scss */
#main > div#chat_body form#send_message button {
  height: 35px;
  width: 8.8%;
  border-radius: 20px;
  border: 0;
  background-color: tomato;
  color: white;
}

/* line 89, app/assets/stylesheets/home.scss */
#main div#modal {
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #000000bf;
  width: 100%;
  z-index: 2;
  display: flex;
  display: none;
}

/* line 99, app/assets/stylesheets/home.scss */
#main div#modal > div {
  width: 300px;
  background: white;
  margin: auto;
  padding: 30px;
  text-align: center;
  height: 150px;
  border-radius: 10px;
}

/* line 108, app/assets/stylesheets/home.scss */
#main div#modal > div input {
  height: 30px;
  border-radius: 10px;
  border: 2px dotted rebeccapurple;
  width: 100%;
  margin-bottom: 10px;
}

/* line 116, app/assets/stylesheets/home.scss */
#main div#modal > div button {
  height: 35px;
  border-radius: 20px;
  border: 0;
  background-color: #673AB7;
  color: white;
  width: 80px;
}
